<div class="center_presentation">
  <div class="col-xs-4">
    <div class="row">
      <h4 class="grey_title">Profile info</h4>
    </div>
    <div class="form wrapper" style="text-align:center">
      <%= render partial: "profile", locals: { user: @user, user_to_compare: nil }%>
      <%= link_to "Home", root_path, class: 'btn btn-primary new-item no-label' %>
    </div>
  </div>
</div>
