<div class="form_content">
  <div>
    <%= form.label :user_name, "User name:" %>
    <%= form.text_field :user_name %>
  </div>
  <%= form.submit "Search", class: 'btn btn-primary new-item no-label' %>
  <%= link_to "Home", root_path, class: 'btn btn-primary new-item no-label' %>
</div>